// COLORS

:root {
  --color-white: #fff;
  --color-black: #000;

  // ~~ neutral
  $colors_neutral: (
    "50": "#f6f6f6",
    "100": "#e7e7e7",
    "200": "#d1d1d1",
    "300": "#b0b0b0",
    "400": "#888888",
    "500": "#6d6d6d",
    "600": "#5d5d5d",
    "700": "#4f4f4f",
    "800": "#454545",
    "900": "#3d3d3d",
    "950": "#171717",
  );
  @each $key, $color in $colors_neutral {
    --color-neutral-#{$key}: #{$color};
    --color-neutral-#{$key}-alpha-75: #{$color}75;
    --color-neutral-#{$key}-alpha-50: #{$color}50;
    --color-neutral-#{$key}-alpha-25: #{$color}25;
  }

  // ~~ primary
  $colors_primary: (
    "50": "#eef3ff",
    "100": "#d9e3ff",
    "200": "#bccfff",
    "300": "#8eb1ff",
    "400": "#5986ff",
    "500": "#335cff",
    "600": "#1b38f5",
    "700": "#1425e1",
    "800": "#1720b6",
    "900": "#19228f",
    "950": "#141757",
  );
  @each $key, $color in $colors_primary {
    --color-primary-#{$key}: #{$color};
    --color-primary-#{$key}-alpha-75: #{$color}75;
    --color-primary-#{$key}-alpha-50: #{$color}50;
    --color-primary-#{$key}-alpha-25: #{$color}25;
  }

  // ~~ auxiliary
  $colors_auxiliary: (
    "50": "#f5f3ff",
    "100": "#ede9fe",
    "200": "#ddd6fe",
    "300": "#c4b5fd",
    "400": "#a78bfa",
    "500": "#8b5cf6",
    "600": "#7c3aed",
    "700": "#6d28d9",
    "800": "#5b21b6",
    "900": "#4c1d95",
    "950": "#2e1065",
  );
  @each $key, $color in $colors_auxiliary {
    --color-auxiliary-#{$key}: #{$color};
    --color-auxiliary-#{$key}-alpha-75: #{$color}75;
    --color-auxiliary-#{$key}-alpha-50: #{$color}50;
    --color-auxiliary-#{$key}-alpha-25: #{$color}25;
  }

  // ~~ danger
  $colors_danger: (
    "50": "#fff1f2",
    "100": "#ffe0e3",
    "200": "#ffc6cb",
    "300": "#ff9fa7",
    "400": "#ff6875",
    "500": "#fb3748",
    "600": "#e9192b",
    "700": "#c41121",
    "800": "#a2121e",
    "900": "#861620",
    "950": "#49060c",
  );
  @each $key, $color in $colors_danger {
    --color-danger-#{$key}: #{$color};
    --color-danger-#{$key}-alpha-75: #{$color}75;
    --color-danger-#{$key}-alpha-50: #{$color}50;
    --color-danger-#{$key}-alpha-25: #{$color}25;
  }

  // ~~ success
  $colors_success: (
    "50": #f1fcf3,
    "100": #defae5,
    "200": #bff3cb,
    "300": #77e491,
    "400": #53d573,
    "500": #2cbb4f,
    "600": #1f9a3d,
    "700": #1c7934,
    "800": #1b602c,
    "900": #184f27,
    "950": #082b12,
  );
  @each $key, $color in $colors_success {
    --color-success-#{$key}: #{$color};
    --color-success-#{$key}-alpha-75: #{$color}75;
    --color-success-#{$key}-alpha-50: #{$color}50;
    --color-success-#{$key}-alpha-25: #{$color}25;
  }

  // ~~ warning
  $colors_warning: (
    "50": "#fffee7",
    "100": "#fffec1",
    "200": "#fffa86",
    "300": "#ffee41",
    "400": "#ffde0d",
    "500": "#ffcf00",
    "600": "#d19800",
    "700": "#a66c02",
    "800": "#89540a",
    "900": "#74450f",
    "950": "#442404",
  );
  @each $key, $color in $colors_warning {
    --color-warning-#{$key}: #{$color};
    --color-warning-#{$key}-alpha-75: #{$color}75;
    --color-warning-#{$key}-alpha-50: #{$color}50;
    --color-warning-#{$key}-alpha-25: #{$color}25;
  }

  // ~~ info
  $colors_info: (
    "50": "#effaff",
    "100": "#def5ff",
    "200": "#b6edff",
    "300": "#76e1ff",
    "400": "#2dd2ff",
    "500": "#01aee1",
    "600": "#0099d3",
    "700": "#007aaa",
    "800": "#00678c",
    "900": "#065574",
    "950": "#04364d",
  );
  @each $key, $color in $colors_info {
    --color-info-#{$key}: #{$color};
    --color-info-#{$key}-alpha-75: #{$color}75;
    --color-info-#{$key}-alpha-50: #{$color}50;
    --color-info-#{$key}-alpha-25: #{$color}25;
  }
}
