// COLLAPSIBLE

.content {
  overflow: hidden;
  transition: all 0.3s ease;

  &[data-state="open"] {
    animation: slideDown 200ms ease;
  }

  &[data-state="closed"] {
    animation: slideUp 200ms ease;
  }
}

.contentInner {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
