// BUTTON
@use "@/mixins";
.button {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding-inline: 1.25rem;
  font-weight: 500;
  min-width: 5.5rem;
  user-select: none;
}

// -> Sizes
.small {
  height: 2rem;
  font-size: 0.875rem;
}
.medium {
  height: 3rem;
  font-size: 1rem;
}
.large {
  height: 3rem;
  font-size: 1.25rem;
}

// -> Colors
.primary {
  background-color: #005aff;
  color: #fff;
}
.auxiliary {
  background-color: sandybrown;
}
.neutral {
  background-color: gray;
}

// -> States
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.block {
  display: flex;
  width: 100%;
}
.blockMobile {
  @include mixins.small-than-tablet {
    display: flex;
    width: 100%;
  }
}
.blockDesktop {
  @include mixins.from-tablet {
    display: flex;
    width: 100%;
  }
}
.loading {
}
