// BUTTON
@use "@/mixins";
.button {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 500;
  min-width: 5.5rem;
  user-select: none;
  white-space: nowrap;
  transition: all 200ms 0s ease;
  border-radius: var(--radius-s);
  position: relative;
  overflow: hidden;
  &:active {
    transform: translateY(1px);
  }
}

// -> Sizes
.small {
  height: 2rem;
  font-size: 0.875rem;
  padding-inline: 1rem;
  border-radius: var(--radius-xs);
}
.medium {
  height: 2.5rem;
  font-size: 1rem;
  padding-inline: 1.25rem;
}
.large {
  height: 3rem;
  font-size: 1.125rem;
  padding-inline: 1.75rem;
}

// --> Colors
$colors: "primary", "auxiliary";
@each $color in $colors {
  .#{$color} {
    &.filled {
      background-color: var(--color-#{$color}-500);
      color: #fff;
      &:hover {
        background-color: var(--color-#{$color}-400);
      }
    }
    &.outline {
      border-color: var(--color-#{$color}-300);
      color: var(--color-#{$color}-500);
      &:hover {
        background-color: var(--color-#{$color}-50);
      }
    }
    &.lighter {
      background-color: var(--color-#{$color}-50);
      color: var(--color-#{$color}-500);
      &:hover {
        border-color: var(--color-#{$color}-500);
      }
    }
    &.ghost {
      color: var(--color-#{$color}-500);
      &:hover {
        background-color: var(--color-#{$color}-50);
      }
    }
    &.loading {
      &::before {
        background-color: var(--color-#{$color}-900-alpha-50);
      }
    }
  }
}
.neutral {
  &.outline,
  &.lighter,
  &.ghost {
    color: var(--color-neutral-950);
  }
  &.filled {
    background-color: var(--color-neutral-950);
    color: #fff;
    &:hover {
      background-color: var(--color-neutral-900);
    }
  }
  &.outline {
    border-color: var(--color-neutral-950);
    &:hover {
      background-color: var(--color-neutral-50);
    }
  }
  &.lighter {
    background-color: var(--color-neutral-50);
    &:hover {
      border-color: var(--color-neutral-950);
    }
  }
  &.ghost {
    &:hover {
      background-color: var(--color-neutral-50);
    }
  }
  &.loading {
    &::before {
      background-color: var(--color-neutral-900-alpha-50);
    }
  }
}

// -> Variants
.outline {
  border-width: 1px;
  border-style: solid;
  &:hover {
    border-color: transparent;
  }
}
.lighter {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

// -> States
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.block {
  display: flex;
  width: 100%;
}
.blockMobile {
  @include mixins.small-than-tablet {
    display: flex;
    width: 100%;
  }
}
.blockDesktop {
  @include mixins.from-tablet {
    display: flex;
    width: 100%;
  }
}

// -> Loading
@keyframes loadingIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinnerIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinnerLoop {
  100% {
    transform: rotate(1turn);
  }
}
.loading {
  pointer-events: none;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    animation: loadingIntro 300ms 0s ease backwards;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    margin-left: -0.625em;
    margin-top: -0.625em;
    width: 1.25em;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #fff 94%, #0000) top/3px 3px
        no-repeat,
      conic-gradient(#0000 30%, #fff);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 3px),
      #000 0
    );
    animation: spinnerLoop 600ms infinite linear,
      spinnerIntro 300ms 0s backwards;
  }
}

// -> Icon
.icon {
  font-size: 1em;
  flex-shrink: 0;
}
